<h1>Find out what kind of triangle your triangle is</h1>

<form action="/result">
  <div class="form-group">
    <label for="side 1">Enter first side</label>
    <input id="side 1" name="side 1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side 2">Enter second side</label>
    <input id="side 2" name="side 2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side 3">Enter third side</label>
    <input id="side 3" name="side 3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
